* {
  padding: 0%;
  margin: 0%;
}
body{
    background-color: #FAFAFA;
}

p {
  font-size: 18px;
  text-align: center;
}

.wrapper {
    display: grid;
    align-items: center;
    justify-content: center;

  width: 100%;
  margin: 1rem;
}

.form__container {
  border-radius: 3px;
  padding: 50px 50px;
  max-width: 30rem;
  min-width: 26rem;
}

@media (max-width: 994px) {
  .wrapper {
    display: grid;
    align-items: center;
    justify-content: center;

    margin: 0px;
    min-width: 5rem;
  }
}
